<div class="ui container">
  <div class="ui attached message">
    <div class="header">
      Editing your comment
    </div>
    <p>Fill out the form in order to update your comment.</p>
  </div>
  
  <%= render "edit_form" %>
  
</div>
